* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: whitesmoke;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(88, 106, 112);
  color: white;
}

.nav-ul {
  list-style: none;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-li {
  text-transform: uppercase;
  color: white;
}

h1,
h2 {
  margin: 2rem 0;
}

h3 {
  margin: 1rem 0;
}

p {
  margin: 1rem;
  font-weight: bold;
}

button {
  padding: 0.5rem 1rem;
  background-color: rgb(204, 226, 233);
  border-radius: 50px;
  border: 1px solid transparent;
}
